<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> Zelda Blog </title>
    <% include partials/head %>
  </head>
  <body>

    <!-- HEADER -->
    <% include partials/navigation %>

    <!-- MAIN CONTENT -->

    <div class="container-fluid ">
      <header class="row img-fluid">
        <div class="col-lg-12 container-fluid">
          <img src="img/sagas.jpg" alt="Website Logo">

        </div>
        
      </header>
    </div>

    <!-- section one -->
    <div class="container-fluid" id="about">
      <div class="row bg-primary text-white p-5 text-center">
        <div class="col-md-8">
          <h3>the legen of zelda</h3>
          <p>Protagonistas Artículo principal: Personajes de The Legend of Zelda La lucha épica del «bien contra el mal» es una de las principales temáticas en The Legend of Zelda. El joven héroe Link representa el poder del bien y de la luz, contrario a Ganondorf,Demoníaco Rey de la Oscuridada, quien es vinculado con las fuerzas oscuras del mal.</p>
   
          <p><b>Link:</b> es el nombre genérico que se le da a cada uno de los héroes elegidos para vencer al mal en cada capítulo de The Legend of Zelda.43​28​ Generalmente, se trata de un hyliano que reside en Hyrule. Su edad varía en cada juego, notablemente de un niño a un adolescente, y su misión principal es viajar a lo largo del reino mencionado y vencer a criaturas y fuerzas malignas para obtener objetos y armas mágicas, como bombas o el arco y las flechas, entre otros. Su arma más representativa es la Espada Maestra, cuya hoja tiene el poder de repeler el mal.41​ Posee como atributos característicos la humildad y la valentía, además de contar con habilidades para la lucha y el uso de la lógica para resolver acertijos. Tras los sucesos de Ocarina of Time, recae en él la Trifuerza del Valor. Sus hazañas le han llevado a ser considerado como «Héroe del tiempo» o «Héroe de los vientos», dependiendo de la entrega de la saga. En los juegos tridimensionales de la serie, los actores que le han prestado su voz han sido Nobuyuki Hiyama,​ Fujiko Takimoto, y Sachi Matsumoto.​</p>
            
          <p><b>zelda:</b> es la encarnación mortal de la diosa Hylia e integrante de la Familia real de Hyrule. Al igual que Link, Zelda ha tenido varias transformaciones sustanciales a través de la serie. En la mayoría de los juegos es asociada con la diosa Nayru, la Trifuerza de la Sabiduría y varios poderes extraordinarios, tales como la telepatía, la precognición, flechas de luz y la teletransportación. También es conocida por sus álter egos Sheik y la pirata Tetra. Zelda ha aparecido en la mayor parte de los juegos de la serie excepto en Link's Awakening —donde solo es mencionada— y Majora's Mask —en el que aparece solamente por medio de analepsis—. Al igual que Link, no siempre es el mismo personaje en todos los juegos.
            
          <p><b> Ganondorf:</b>  también conocido como Ganon en su forma no humana, es el principal antagonista de la saga. En la versión estadounidense del manual de instrucciones de A Link to the Past, se menciona que su nombre completo es Ganondorf Dragmire, aunque este último nombre nunca ha sido utilizado en ninguno de los videojuegos ni en ningún otro material oficial relacionado con la serie. En un principio era el líder de las gerudo, una banda de delincuentes que habita en el desierto homónimo, aunque tras adquirir numerosos poderes mágicos pasaría a convertirse en el «Gran rey del Mal».42​47​48​49​ Su principal objetivo es lograr el dominio de Hyrule, para lo cual busca hacerse con la Trifuerza capaz de concederle poderes infinitos a su portador. Ganondorf está asociado con la Trifuerza del Poder, uno de los tres fragmentos que conforman la unidad total. En Skyward Sword se da a entender que la maldad de Ganondorf es consecuencia de la esencia del mal del Heraldo de la Muerte, un poderoso ser que mantenía a Hyrule sumido en el caos cuando la diosa Hylia envió la Trifuerza a Altárea.50​</p>
        </div>
        <div class="col-md-4">
          <h3>personajes</h3>
          <p></span>
          </p>
          <div class="imagenex" id="chat">
            <p><img src='img\link.png'alt="">Link </p>
            <p><img src='img\canon.png'alt="">Ganondorf </p>
          </div>
        </div>
      </div>
      <div class="row bg-primary text-white p-5 text-center">
        <div class="col-md-6">
          <h3>the legen of zelda</h3>
          <p>Diez mil años antes del comienzo del juego, Hyrule es una civilización avanzada que construyó cuatro enormes máquinas con formas de animales llamadas bestias divinas y una legión de guardianes para protegerse de Ganon.17​ Cuando Ganon regresó, fue derrotado por una princesa con la ayuda de los cuatro campeones y un caballero.18​</p>
          
          <p>Unos nueve mil novecientos años después, los habitantes de Hyrule se enteraron por medio de una profecía de que se avecinaba el «Gran Cataclismo». La princesa Zelda entrena para despertar su poder y sellar a Ganon, Link es elegido como el portador de la Espada Maestra, mientras que Daruk, Revali, Mipha y Urbosa son elegidos para pilotar a las bestias divinas.19​ Sin embargo, Ganon ideó un plan para contrarrestar los intentos defensas, corrompiendo a todas las máquinas, matando a los campeones y diezmando al reino.20​ Link queda gravemente herido en la batalla y es llevado a una cámara de resurrección conocida como el santuario de la vida, mientras que Zelda usa su magia para atrapar a Ganon.21​22​
          </p>
            
          <p>Transcurren cien años y Link despierta sin memoria de la cámara en un reino posapocalíptico devastado,23​al salir del santuario conoce a un anciano que se revela a sí mismo como el espíritu del rey Rhoam.24​17​ El rey le explica que Zelda ha estado en una batalla en el castillo de Hyrule y que su poder se está desvaneciendo, por lo que le ruega a Link que derrote a Ganon antes de que se libere y destruya el mundo.</p>
          
          <p>Tras la petición del rey, Link emprende un viaje a través de todo Hyrule para recuperar sus memorias.25​ Con la ayuda de las tribus del reino aborda las bestias divinas para derrotar a las manifestaciones de Ganon que derrotaron a los campeones cien años antes y liberar sus espíritus.20​26​Después de obtener la Espada Maestra, Link se dirige al castillo de Hyrule para derrotar a Ganon con la ayuda de las bestias divinas.</p>
        </div>
        <div class="col-md-6">
          <h3>personajes</h3>
          <% include partials/carousel %>
        </div>
      </div>
     
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <% include partials/footer %>

    <!-- JAVASCRIPT CDNS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
